<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <link rel="stylesheet" href="/index.css">
    <script src="/angular/angular.min.js"></script>
    <script src="/index.js"></script>
</head>

<body ng-controller="RegCtrl as regCtrl">
    <h1>Register</h1>
    <form name="regForm" novalidate ng-submit="regCtrl.submit()">

        <div ng-class="{ error: regCtrl.isValid(regForm, 'email') }">
            <label>Email</label>
            <input id="email" name="email" type="email" ng-model="regCtrl.email" required>
            <span ng-if="regCtrl.isValid(regForm, 'email')">Please enter a valid email</span>
        </div>
        </br>

        <div ng-class="{ error: regCtrl.isValid(regForm, 'password') }">
            <label>Password</label>
            <input id="password" name="password" type="password" ng-model="regCtrl.password" required ng-pattern="/^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$]).*$/">
            <span ng-if="regCtrl.isValid(regForm, 'password')">Please enter a valid password. Password must have at least 8 characters, both uppercase and lowercase letters, one or more numerical digits and one of these special characters @, #, $.</span>
        </div>
        </br>

        <div ng-class="{ error: regCtrl.isValid(regForm, 'name') }">
            <label>Name</label>
            <input id="name" name="name" type="text" ng-model="regCtrl.name" required>
            <span ng-if="regCtrl.isValid(regForm, 'name')">Please enter your name</span>
        </div>
        </br>

        <div class="form-group" ng-class="{ 'has-error': regCtrl.isValid(regForm, 'gender')}">
            <label for="gender">Gender</label>
            <div id="gender" class="radio">
                <label class="radio control-label"><input type="radio" ng-model="regCtrl.gender" value="male" id="exp-good" name="gender" ng-required="true">Male</label>
            </div>
            <div class="radio">
                <label class="radio control-label"><input type="radio" ng-model="regCtrl.gender" value="female" name="gender" id="exp-neutral" ng-required="true">Female</label>
            </div>
        </div>
        </br>

        <div ng-class="{ error: regCtrl.isValid(regForm, 'birthdate') }">
            <label>Date of Birth</label>
            <input id="birthdate" name="birthdate" type="date" ng-model="regCtrl.birthdate" required max="{{regCtrl.maxDate}}">
            <span ng-if="regCtrl.isValid(regForm, 'birthdate')">Please enter a valid birthdate. You must be above 18 to register</span>
        </div>
        </br>

        <div ng-class="{ error: regCtrl.isValid(regForm, 'address') }">
            <label>Address</label>
            <input id="address" name="address" type="text" ng-model="regCtrl.address" required>
            <span ng-if="regCtrl.isValid(regForm, 'address')">Please enter your address</span>
        </div>
        </br>

        <div ng-class="{ error: regCtrl.isValid(regForm, 'country') }">
            <label>Country</label>
            <input id="country" name="country" type="text" ng-model="regCtrl.country" required>
            <span ng-if="regCtrl.isValid(regForm, 'country')">Please enter your country</span>
        </div>
        </br>

        <div ng-class="{ error: regCtrl.isValid(regForm, 'contactno') }">
            <label>Contact Number</label>
            <input id="contactno" name="contactno" type="text" ng-model="regCtrl.contactno" required ng-pattern="/^(?=.*\d)[^`!@$^=_[,.';~#%&*:<>?/{|}]+$/">
            <span ng-if="regCtrl.isValid(regForm, 'contactno')">Please enter a valid contact no. Contact no. should contain at least one number and not contain invalid characters, but +, -, space, and round brackets are allowed</span>
        </div>
        </br>

        <div>
            <button type="button" ng-click="regCtrl.submit()" ng-disabled="regForm.$invalid">Submit</button>
        </div>
        </br>
        <div>{{ regCtrl.msg }}</div>
</body>

</html>